
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/BusLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Departure Time</th>
            <th>Bus Name</th>
            <th>Starting Counter</th>
            <th>Ending Counter</th>
            <th>Coach Type</th>
            <th>Arrival Time</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.busList)
        {
            <tr class="table-light">
                <td>@item.DepartureTime</td>
                <td>@item.Name</td>
                <td>@item.StartingCounter</td>
                <td>@item.EndingCounter</td>
                <td>@item.CoachType</td>
                <td>@item.ArivalTime</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>

            </tr>
        }

    </tbody>
</table>

